<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img height="425" width="200" src="https://render.fineartamerica.com/images/rendered/default/poster/10/8/break/images/artworkimages/medium/2/chicken-biryani-with-rice-and-spices-india-foodfolio.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img  height="425" width="200" src="https://w0.peakpx.com/wallpaper/392/95/HD-wallpaper-juice-drinks-cool-yummy-food-entertainment-fun.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img  height="425" width="200" src="https://m.media-amazon.com/images/S/aplus-media/sc/a376576d-e6d7-47bf-a7e3-187368dd636a.__CR0,0,970,600_PT0_SX970_V1___.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
