<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        
            <br><br>
            <h1 align="center" ><b>About Us</b></h1>

            <p align="center">
                The food booking application enables customers to book tables beforehand, letting the
                concerned restaurants know that at the specified interval of time, people are ready to dine and
                have a great time. It would create a refreshing atmosphere for the customers. This system also
                provides the user with the freedom of ordering their favorite dish beforehand.
            </p>



        </div>
    </div>
</div>
